#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #1E8B9E;
    margin: 0;
    padding: 0;
}

h2{
    margin:0;
}

#logo-link{
    padding-top: 5px;
}

header{
    background-color: #63E8FF;
}

.logo{
    width: 200px;
}
nav a{
    text-align:center;
    background-color: #44d2eb;
    text-decoration: none;
    font-size: 1.4em;
    padding: 35px;
}

nav a:hover{
    background-color:#1E8B9E ;
    color: #63E8FF;
}

.booking, .join-us{
    background-color: #63E8FF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.booking:hover, .join-us:hover{
    background-color: #F0BB90;
    color:#9e4f0e;
}
#hero-msg h1, #hero-msg h4{
    text-align:center;
}

#hero-image{
    width:100%;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

.card-img{
    border: 10px solid grey;
}

.rivers-card .mountain-card .camping-card{
    margin: 200px 0;
}

.icon{
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: #44d2eb;
}
.mountain-msg{
    color:#F0BB90;
    background-color: #9e4f0e;
    padding: 35px;
}

.social-media{
    width:80px;
}

footer a{
    text-decoration: none;
}

footer{
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer .social-media img{
    padding-top: 15px;
}