#content{
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #1E8B9E;
    margin: 0;
    padding: 0;
}

h2{
    margin:0;
}

#logo-link{
    padding-top: 5px;
    max-width: 150px;
    justify-self: center;
    align-self: center;
}

header{
    background-color: #63e8ff;
    display: grid;
    grid-template-columns: 150px auto;
}

.logo{
    width: 100px;
}

nav{
    display:flex;
    justify-content: space-around;
}
nav a{
    text-align:center;
    background-color: #42d2eb;
    text-decoration: none;
    font-size: 1.5em;
    padding: 35px;
}

nav a:hover{
    background-color:#1E8B9E ;
    color: #63E8FF;
}

.booking, .join-us{
    background-color: #63E8FF;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.booking:hover, .join-us:hover{
    background-color: #F0BB90;
    color:#9e4f0e;
}

#hero {
    margin-top: -100px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg h1{
    margin-top: 150px;
    text-align:center;
    color: #63E8FF;
    font-size: 2.8em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#hero-msg h4{
    text-align:center;
    color: #63E8FF;
    font-size: 1.8em;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#hero-image{
    width:100%;
}

.button-box{
    padding-top: 20px;
    text-align: center;
}

.home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

main section{
    text-align: center;
}

main section img{
    box-sizing: border-box;
}

.card-img, .mountains-banner{
    border: 10px solid grey;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #31332d;
}

.card-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.rivers-card, .rapids-card, .camping-card{
    margin: 150px 0;
}

.rivers-card{
    grid-column: 2/4;
    grid-row:2/3;
}

.rapids-card{
    grid-column: 8/10;
    grid-row:2/3;
}

.camping-card{
    grid-column: 5/7;
    grid-row:2/3;
}


.icon{
    padding-top: 10px;
}

#background {
    height: 725px;
    background-color: #44d2eb;
    grid-column: 1/11;
    grid-row:4/9;
    z-index: -1;
}

.mountain-msg{
    color:#F0BB90;
    background-color: #9e4f0e;
    padding: 35px;
    grid-column: 6/9;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #31332d;
}

.mountains-banner{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #31332d;
}

.social-media{
    width:80px;
}

footer a{
    text-decoration: none;
}

footer{
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 a:hover{
    text-decoration: underline;
}

footer .social-media img{
    padding-top: 15px;
}

.faq-content{
    background-color: #42d2eb;
}

.faq-head{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 25px 0px 25px 0px;
    font-size: 1.3em;
}

.faq-head h4{
    color:gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.faq1{
    border: 3px solid;
    border-color: #1E8B9E;
    border-radius: 6px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #63E8FF;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display:grid;
}

.faq1 h2, p{
    text-align: left;
}

.faq1 img{
    width:100%;
}
@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
            